.pictures { 
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
}

.pictures img {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}

.pictures :hover{
  transform: scale(1.04);
  transition: 0.5s;
}

@media (max-width:768px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
}

@media (max-width:480px) {
  .pictures {
    grid-template-columns: 1fr;
    justify-self: center;
  }
}