#addTrip {   /* כפתור של הוספת טיול, ממוקם משמאל למעלה בדף*/
    position: absolute;          
    left: 20px;                   
    top: 50%;                     
    transform: translateY(-50%);  
    z-index: 10;                  
}

.trip-button {      /* לינק שמעוצב ככפתור, כדי לקשר בין הדפים ברגע שלוחצים על טיול ספציפי */
    display: block;           
    width: 70%;              
    padding: 15px;            
    margin-bottom: 10px;      
    justify-self: center;
    text-align: center;      
    text-decoration: none;    
    background-color: var(--color-tea-green); 
    color: black;             
    border: 1px solid black;   
    border-radius: 8px;        
    font-size: 18px;          
    cursor: pointer;           
}

/* עיצוב למצב שעוברים עם העכבר על הכפתור */
.trip-button:hover {
    background-color: #e0e0e0;
}