#addTrip {
    /* כפתור של הוספת טיול, ממוקם משמאל למעלה בדף*/
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.trip-button {
    /* לינק שמעוצב ככפתור, כדי לקשר בין הדפים ברגע שלוחצים על טיול ספציפי */
    display: block;
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-tea-green);
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

/* עיצוב למצב שעוברים עם העכבר על הכפתור */
.trip-button:hover {
    background-color: #e0e0e0;
}

/* הודעת אין טיולים עדיין*/
.no-trips-message {
    text-align: center;
    font-size: 1.7rem;
    color: gray;
    margin-top: 20px;
    font-weight: bold;
}

/* Container של טיולים */
.trip-item-container {
    position: relative;
    width: 70%;
    margin: 0 auto 10px auto;
}

/* כפתור של טיולים */
.trip-button {
    width: 100%;
    margin-bottom: 0;
}

/* כפתור למחיקה */
.delete-trip-btn {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.delete-trip-btn:hover {
    color: darkred;
}

/* חלונית וידוא מחיקה */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.confirm-btn {
    background-color: #ff4444;
    color: white;
}

.cancel-btn {
    background-color: #ccc;
    color: black;
}